header {
  margin-bottom: 64px;
}

h1 {
  font-size: 48px;
  color: #606c38;
  margin: 0;
}

a {
  padding: 12px 48px;
  background-color: #283618;
  color: #d4a373;
  border: 1px solid #d4a373;
  border-radius: 4px;
  font-size: 24px;
  display: inline-block;
  margin: 0;
}

a:hover {
  background-color: #606c38;
  text-decoration: none;
}

ol {
  list-style: none;
  color: #d4a373;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  margin: 32px;
  background-color: #606c38;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.2);
}

h2 {
  color: #dda15e;
  font-family: "Oswald", sans-serif;
}

main p {
  margin: 12px;
  color: #faedcd;
}

#description {
  margin: 12px 0;
}

.highlight-goal {
  background-color: #283618;
}
