body {
  text-align: center;
  background-color: #fefae0;
  color: #606c38;
}

h1 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
  color: #bc6c25;
  margin-bottom: 36px;
}

a {
  text-decoration: none;
  color: #606c38;
}
