body {
  margin: 50px;
}

header {
  background-color: #dde5b6;
  border: 2px solid #463f3a;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #463f3a;
}

img {
  width: 200px;
  height: 200px;
  border: 2px solid #463f3a;
  border-radius: 100px;
  margin-top: -50px;
}

#todays-challenge {
  color: #bc6c25;
  font-size: 52px;
  font-weight: bold;
  margin: 0;
}

#challenge {
  margin: 0;
}
